*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8F9;
}

/*Header*/

h1{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

header img{
  width: 50px;
  vertical-align: middle;
}

header{
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: white;
}

header div{
  padding-bottom: 10px;
}

/*Navigatore*/

.pulsanti{
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.pulsanti#azzurro{
  background-color: #47ADF1;
  color: white;
  border: transparent;
  position: relative;
  
}

.pulsanti#bianco{
  background-color: white;
  color: grey;
  border: 1px solid grey;
  position: relative;
  
}

.nav{
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  }

/*Lista*/

li{
  list-style-type: none;
  padding-bottom: 5px;
}

.lista{
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  }

.freccia{
  vertical-align: middle;
  display: inline-block;
}

.grande{
font-size: 1.5rem;
}

.check{
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 50%;
}

.cross{
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
}

.editorial{
  display: inline-block;
  background-color: #45ABEA;
  border-radius: 20px;
  padding: 5px;
  color: white;
  margin-left: 5px;
  width: 80px;
  text-align: center;
}

.today{
  padding-top: 20px;
}

.goals{
  display: inline-block;
  background-color: #9C72E4;
  border-radius: 20px;
  padding: 5px;
  color: white;
  margin-left: 5px;
  width: 80px;
  text-align: center;
}

.recruiting{
  display: inline-block;
  background-color: #64C0A9;
  border-radius: 20px;
  padding: 5px;
  color: white;
  margin-left: 5px;
  width: 80px;
  text-align: center;
}

.mobile{
  display: inline-block;
  background-color: #F29E33;
  border-radius: 20px;
  padding: 5px;
  color: white;
  margin-left: 5px;
  width: 80px;
  text-align: center;
}