*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1{
  display: inline-block;
}

header img{
  vertical-align: -80%;
}

header{
  padding-left: 20px;
}

main{
  background-color: #F6F8F9;
}